/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Global code */

html {
    box-sizing: border-box;
}

header h1 {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    text-align: center;
    font-size: 48px;
}
header {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 15px 0px;
}
.main-background {
    background: url("../img/westworld-s1-1920x1080.jpg");
    background-size: cover;
    min-height: 90vh;
    margin-top: 10% 0%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.about-header
 {
    background: black;
} 






/* Header */
.about {
    position: fixed;
    background: #002a32;
}
.dropbtn {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 28px 40px;
    font-size: 20px;
    border: none;
    font-weight: 700;
    width: 100%;
}
.dropdown {
    position: absolute;
    display: inline-block;
    top: 0%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3B444B;
    box-shadow:0px 8px 16px 0px #e9e3d3;
    z-index: 1;
    width: 100%;
}
.dropdown-content a {
    color: #DBE9F4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgba(255, 0, 0, 0.3);
}
                        
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:  #5A6873;
}

.header-background {
    background: url("../img/Wiki-background.jpg");
    background-size: cover;
    /* background-position: 100% 100%; */
    background-repeat: no-repeat;
    padding: 10% 10%;
    height: 150px;
}
.about-text {
    padding: 50px 0px;
    margin: 0px;
}

/* .header-gradient {
    background: rgba(0,0,255,0.4);
    position: absolute;
    display: inline-block;
} */



/*main*/
#main-home h3, #main-home p {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;  
    font-size: 24px;
}

#main-home h3 {
    margin-top: 5.5%;
    margin-bottom: 10px;
}
#about-main-background {             
    background: url("../img/beach.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    margin-top: 20px 0px;
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    position: fixed;
}
.about-container {
        position: absolute;
        width: 50%;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        font-size: 2em;
        margin: 100px 50px;
        display: inline-block;
        left: 25%;
}
.about-container {
    padding: 0px 20px;
}
 
.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25%;
    grid-column-gap: 70px;
    grid-row-gap: 70px;
    justify-content: center;
    margin-top: 50px;

    /* grid-gap: 10px; */
}

img {
    max-width: 100%;
    border-radius: 60%;
}

.grid-item {
    border: 1px solid #222;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
}

.floated {
    overflow: hidden;
}
.header-cast {
    font-family: 'Bangers', cursive;
    font-size: 48px;
    text-align: center;
    margin-top: 30px;
    text-shadow: 2px 2px 35px	#A9A9A9;
    color: black;
    text-shadow: 4px 4px 0px rgba(63,107,169, 0.6);
}

/* Footer */
footer {
    background: #C3C8CF;
    text-align: center;
    position: static;
    margin-bottom: 0%;
    width: 100%;
}
footer h2, footer p, footer img {
    padding: 5px;
}
.fa:hover {
    opacity: 0.7
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-pintrest {
    background: #125688;
    color: white;
}
.fa-instagram {
    background: #bb0000;
    color: white;
}

